#container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #ffffff;
}

html,
body {
    overflow: hidden;
    height: 100%;
}

#hand {
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translateY(-50%) scale(1.2);
    width: 100px;
}

.object,
.heart {
    width: 50px; /* Set the same width for both object and heart */
    height: 50px; /* Set the same height for both object and heart */
    position: absolute;
    transform: translateY(-50%); /* Center vertically */
}

.heart {
    transform: translateY(-50%) scale(1.2); /* Zoom the heart image by 120% */
}

#hp-container {
    position: relative;
    top: 10px;
    left: 44%;
    width: 200px;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
}

#hp-bar {
    height: 100%;
    width: 100%;
    background-color: black;
}

#ayoung {
    position: absolute;
    left: 75%;
    top: 48%;
    transform: translateY(-50%) scale(1.5); /* Increase size by 50% */
    width: 400px;
}

#timer {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}

#leftPerson {
    position: absolute;
    left: 0%;
    top: 48%;
    transform: translateY(-50%) scale(1.5); /* Increase size by 50% */
    width: 400px;
}

#leftPerson {
    position: absolute;
    left: 0%;
    top: 48%;
    transform: translateY(-50%) scale(1.5); /* Increase size by 50% */
    width: 400px;
}

/* CSS for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent gray background */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}
.ment {
    color: #ff7b00;
}
