body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the body takes the full height of the viewport */
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure the container takes the full height of its parent */
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.topName {
    margin-left: 130px;
    margin-right: 130px;
}

.first {
    position: relative;
    top: 0;
    left: 0;
}

.name-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin: 5px;
    background-color: #e8e8e8;
    width: 469px;
    height: 155px;
    border-radius: 15px;
}

.top {
    width: 469px;
    height: 62px;
    border-radius: 15px;
    background-color: #feda00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-container > div {
    text-align: center;
    background-color: #007bed;
    width: 294px;
    height: 42px;
    border-radius: 21px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-container > input {
    width: 294px;
    height: 42px;
    border-radius: 21px;
}

.button-container > button {
    background-color: #007bed;
    border: none;
    width: 148px;
    height: 42px;
    color: white;
    font-weight: bold;
    border-radius: 21px;
    margin-top: 5px;
}

.ment {
    background-color: rgb(224, 224, 224);
    padding: 10px; /* Adding padding */
    display: inline-block; /* Adjust the element's display property */
    box-sizing: border-box; /* Ensure the padding and border are included in the element's total width and height */
    margin-top: 7px; /* Add margin to separate from the button */
    width: 90%; /* Adjust width to look good in the layout */
    text-align: left; /* Align text to the left for better readability */
    padding-bottom: 0px;
    border-radius: 15px;
}
