{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>게임 종료</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/gameover.css' %}" />
    </head>
    <body>
        <div class="container">
            <div class="gameover">
                <h1>GAME OVER</h1>
            </div>
            <div class="ranking">
                <h2>랭킹</h2>
                <ol>
                    {% for record in top_records %}
                    <li><div class="record-container"><div><b>{{ record.name }}</div> : <div>{{ record.score }}</b></div></div></li>
                    {% endfor %}
                </ol>
            </div>

            <div class="myranking">
                <div class="myranking-container"><div><b>내 순위:</b></div> <div><b>{{ player_rank }}위</b></div></div>
                <div class="myranking-container"><div><b>이름:</b></div> <div><b>{{ player_name }}</b></div></div>
                <div class="myranking-container"><div><b>시간:</div> {{ my_record.score }}</b></div></div>
            </div>
            <button onclick="location.href='{% url 'name' %}'">다시 도전하기</button>
        </div>
    </body>
</html>
