{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Block the Objects</title>
        <link rel="stylesheet" href="{% static 'css/game.css' %}" />
    </head>
    <body>
        <div id="container">
            <div id="hp-container">
                <div id="hp-bar"></div>
            </div>
            <div id="timer">Time: 0s</div>
            <img id="hand" src="{% static 'images/hand.jpg' %}" alt="Hand" />
            <img id="ayoung" src="{% static 'images/ayoung.jpg' %}" alt="ayoung" />
        </div>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>
