{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Block the Objects</title>
        <link rel="stylesheet" href="{% static 'css/game.css' %}" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            // Django 템플릿 태그를 사용하여 URL과 CSRF 토큰을 설정합니다.
            var saveScoreUrl = "{% url 'save_score' %}";
            var gameoverUrl = "{% url 'gameover' %}";
            var csrfToken = '{{ csrf_token }}';
            var playerName = '{{ request.session.player_name }}';

            // Update to include multiple sets of images
            var personImageSets = [
                ["{% static 'images/park1.png' %}", "{% static 'images/park2.png' %}"],
                [
                    "{% static 'images/shin1.png' %}",
                    "{% static 'images/shin2.png' %}",
                    "{% static 'images/shin3.png' %}",
                ],
                ["{% static 'images/ma.png' %}"],
                [
                    "{% static 'images/minheejean1.png' %}",
                    "{% static 'images/minheejean2.png' %}",
                    "{% static 'images/minheejean3.png' %}",
                ],
            ];
            var handImageSets = [
                "{% static 'images/tanghuru.png' %}",
                "{% static 'images/hand1.png' %}",
                "{% static 'images/jang.png' %}",
                "{% static 'images/rabbit.png' %}",
            ];
            var fireImageUrl = "{% static 'images/fire.png' %}";
        </script>
    </head>
    <body>
        <!-- Add a modal for round explanation -->
        <!-- Add a modal for round explanation -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <h2 class="ment"><strong>Round 1</strong></h2>
                <h5>박명수의 잔소리를 탕후루로 막아라</h5>
            </div>
        </div>

        <div id="myModal0" class="modal">
            <div class="modal-content">
                <h2 class="ment"><strong>Round 2</strong></h2>
                <h5>신동엽의 잔소리를 에어팟으로 막아라</h5>
            </div>
        </div>

        <div id="myModal1" class="modal">
            <div class="modal-content">
                <h2 class="ment"><strong>Round 3</strong></h2>
                <h5>마동석의 잔소리를 장이수로 막아라</h5>
            </div>
        </div>

        <div id="myModal2" class="modal">
            <div class="modal-content">
                <h2 class="ment"><strong>Round 4</strong></h2>
                <h5>민희진의 잔소리를 뉴진스토끼로 막아라</h5>
            </div>
        </div>

        <div
            id="container"
            data-heart-url="{% static 'images/heart.png' %}"
            data-health-images='["{% static "images/ayoung1.png" %}", "{% static "images/ayoung2.png" %}", "{% static "images/ayoung3.png" %}", "{% static "images/ayoung4.png" %}", "{% static "images/ayoung5.png" %}", "{% static "images/ayoung6.png" %}", "{% static "images/ayoung7.png" %}"]'
        >
            <div id="hp-container">
                <div id="hp-bar"></div>
            </div>
            <div id="timer">Time: 0s</div>
            <img id="hand" src="{% static 'images/tanghuru.jpg' %}" alt="Hand" />
            <img id="ayoung" src="{% static 'images/ayoung1.png' %}" alt="Ayoung" />
            <img id="leftPerson" src="{% static 'images/park1.png' %}" alt="Left Person" />
        </div>
        <audio id="collision-sound" src="{% static 'audio/collision.mp3' %}" preload="auto"></audio>
        <audio id="round1-audio1" src="{% static 'audio/sin1.mp3' %}" preload="auto"></audio>
        <audio id="round1-audio2" src="{% static 'audio/sin2.mp3' %}" preload="auto"></audio>
        <audio id="round1-audio3" src="{% static 'audio/sin3.mp3' %}" preload="auto"></audio>

        <audio id="round2-audio1" src="{% static 'audio/park1.mp3' %}" preload="auto"></audio>
        <audio id="round2-audio2" src="{% static 'audio/park2.mp3' %}" preload="auto"></audio>
        <audio id="round2-audio3" src="{% static 'audio/park3.mp3' %}" preload="auto"></audio>

        <audio id="round3-audio1" src="{% static 'audio/ma1.mp3' %}" preload="auto"></audio>
        <audio id="round3-audio2" src="{% static 'audio/ma2.mp3' %}" preload="auto"></audio>
        <audio id="round3-audio3" src="{% static 'audio/ma3.mp3' %}" preload="auto"></audio>

        <audio id="round4-audio1" src="{% static 'audio/min3.mp3' %}" preload="auto"></audio>
        <audio id="round4-audio2" src="{% static 'audio/min1.mp3' %}" preload="auto"></audio>
        <audio id="round4-audio3" src="{% static 'audio/min2.mp3' %}" preload="auto"></audio>

        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>
