<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>게임 종료</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/gameover.css' %}" />
    </head>
    <body>
        <div class="container">
            <div class="gameover">
                <h1>GAME OVER</h1>
            </div>
            <div class="ranking">
                <h2>랭킹</h2>
                <ol>
                    {% for record in top_records %}
                    <li>{{ record.name }} - {{ record.score }}</li>
                    {% endfor %}
                </ol>
            </div>

            <div class="myranking">
                <p>내 순위: {{ player_rank }}</p>
                <p>이름: {{ player_name }}</p>
                <p>TIME: {{ my_record.score }}</p>
            </div>
            <button onclick="location.href='{% url 'name' %}'">다시 도전하기</button>
        </div>
    </body>
</html>
