{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Enter Name</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/name.css' %}" />
    </head>
    <body>
        <div class="container">
            <img src="{% static 'images/winnercup.png' %}" alt="우승컵"  width="30%"/>
            <div class="top">
                {% if top_record %}
                <div class="first">
                    <img height="55px" src="{% static 'images/first.png' %}" alt="1위" />
                </div>
                <div class="topName">{{ top_record.name }}</div>
                <div class="topScore">{{ top_record.score }}</div>
                {% else %}
                <p>No records yet.</p>
                {% endif %}
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="name-container">
                    <div>이름을 입력해주세요!</div>
                    <input type="text" id="name" name="name" required />
                </div>
                <div class="button-container">
                    <button type="submit">START!</button>
                </div>
            </form>
            <div class="ment">
                <p>게임방법안내:</p>
                <p>1. MZ 소녀는 잔소리를 맞으면 눈이 작아집니다.</p>
                <p>2. MZ 소녀는 하트를 받으면 눈이 커집니다.</p>
                <p>3. 소녀가 눈을 감으면 game over 입니다.</p>
                <p>4. MZ력을 채우면, 다음 라운드로 넘어갈 수 있습니다.</p>
            </div>
        </div>
    </body>
</html>
