{% extends 'base.html' %} {% block css %} {% load static %} {% endblock %} {% block content %}
<body>
    <h2>새로 만들기</h2>
    <form action="{% url 'new' %}" method="post">
        {% csrf_token %}
        <div>
            <div>제목</div>
            <input type="text" name="title" />
        </div>

        <div>
            <div>내용</div>
            <textarea name="content" cols="20" rows="10"></textarea>
        </div>
        <div class="submitbutton">
            <button type="submit">작성</button>
        </div>
    </form>
</body>
{% endblock %}
